// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*@import 'bootstrap';


.navbar {

	background-color: #9400D3;
}


.btn {
	background-color: lime;
}


#carousel-example-generic{
	position: relative;
	height: 500px;
	width: 500px;
}

img {
	height: 500px;
	width: 500px;
}*/

/*.carousel-control.right {
	top: 100px;
}

.carousel-control.left {
	top: 100px;
}

.carousel-inner
{
height: 700px;
margin: 0 auto;
top: 30px;
position: relative;
}

img {
	height: 500px;
	width: 500px;
}

.container {
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
}*/